
<div class="page-right-content">
    <div class="slider slider-home1">
        <div class="js-slider-home1">
            <%= image_tag("site/slides/slide7.png", class: "") %>
            <%= image_tag("site/slides/slide4.png", class: "") %>
            <%= image_tag("site/slides/slide6.png", class: "") %>
            <%= image_tag("site/slides/slide5.png", class: "") %>
        </div>
        <div class="btn-slider">
            <a href="#" class="btn-arrow top-arrow"></a>
            <a href="#" class="btn-arrow bottom-arrow"></a>
        </div>
    </div>
</div>

<div class="video">
    <a data-fancybox href="https://www.youtube.com/watch?v=wLOqbxP8nPs&ab_channel=LwandoNyhweba" class="hover-images image-video">
        <%= image_tag("site/play.png", class: "img-responsive img-thumbnail") %>
    </a>
    <div class="video-title">
        <h3>Ontem Sonho <br> Hoje Realidade</h3>
    </div>
</div>

<div class="new-collection">
    <div class="container">
        <h3 class="vow-title">Coleção Loja de Noivas</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collections/collection1.png", class: "img-reponsive img-thumbnail") %>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collections/collection5.png", class: "img-reponsive img-thumbnail") %>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collections/collection4.png", class: "img-reponsive img-thumbnail") %>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collections/collection6.png", class: "img-reponsive img-thumbnail") %>
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <div class="text-center">
                <div class="vow-desc">
                    <h3 class="h-colect-title v3">MISSÃO</h3>
                    <p class="v-desc">
                        Proporcionar ao cliente, a chance de realizar seu sonho em um evento único e 
                        repleto de momentos inesquecíveis, com foco em cada detalhe tornando-os memoráveis 
                        para o cliente e seus convidados.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="text-center">
                <div class="vow-desc">
                    <h3 class="h-colect-title v3">VISÃO</h3>
                    <p class="v-desc">
                        Tornar-se uma marca de referência no mercado, por meio da captação e 
                        fidelização de clientes, prestando um serviço com foco na qualidade e excelência.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="text-center">
                <div class="vow-desc">
                    <h3 class="h-colect-title v3">VALORES</h3>
                    <p class="v-desc">
                        Responsabilidade, Qualidade, Excelência no atendimento ao cliente, Integridade, 
                        Eficácia, Segurança, Simpatia e respeito pelo cliente, Ética, Profissionalismo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<div class="vow-info">
    <div class="quote text-center">
        <p>
            A Sempre Chique é uma empresa de direito angolano cujo objetivo principal 
            é a prestação de serviços no ramo da organização, gestão e execução de eventos diversos.
        </p>
        <p>
            A Sempre Chique, possui ainda, uma loja de noivas, cujo objetivo principal é a venda e 
            aluguer de vestidos de noiva, vestidos para madrinhas e anjinhas, vestidos de gala e 
            de cerimônias e acessórios diversos para noivas.
        </p>
    </div>

    <div class="text-center" style="background:url(/templete-site/img/ribbon_bg.png) no-repeat top center;background-size: contain">
        <div class="vow-img">
            <a href="#" class="hover-images">
                <%= image_tag("site/planner.png", class: "img-reponsive img-thumbnail") %>
            </a>
        </div>
        <div class="vow-desc">
            <h3 class="h-colect-title v2">Wedding planer</h3>
            <p class="v-desc">
                Em sintonia com os noivos e padrinhos, a wedding planner torna real o 
                sonho que qualquer casal. Ela cuida de todos os detalhes e assegura que 
                o evento ficar na memória de todos os convidados.
            </p>
            <p class="author">Vai casar e não sabe por onde começar? Este serviço é perfeito para si!</p>
        </div>
    </div>
</div>

<div class="featured-product">
    <div class="container">
        <h3 class="vow-title">NOSSOS SERVIÇOS</h3>

        <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="https://noivas.sempre-chique.com">
                        <%= image_tag("site/services/vestido.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="https://noivas.sempre-chique.com/">LOJA DE NOIVAS</a></h3>
                </div>
            </div>


            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/services/plan_event.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">PLANEAMENTO & ORGANIZAÇÃO DE EVENTOS</a></h3>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/services/decoracao1.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">DECORAÇÃO</a></h3>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/services/buffet.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">BUFFET</a></h3>
                </div>
            </div>

        </div>
    </div>
    <div class="fea-button text-center">
        <a href="<%= contact_path %>" class="btn-viewshop">Fale connsoco</a>
    </div>
</div>

<div class="banner v2">
    <div class="container">
        <a href="#" class="effect_img2">
            <%= image_tag("site/destaque.png", class: "img-responsive") %>
        </a>
    </div>
</div>

<div class="blog">
    <div class="container">
        <div class="about-author">
            <div class="intro">
                <h3 class="v-color1">
                    Ao aderir aos serviços da Decorações & eventos SEMPRE CHIQUE, 
                    tornamos o seu sonho realidade sem qualquer desgaste de sua parte.</h3>
                <p>
                    Cuidamos de cada detalhe para que possa cuidar de si e usufruir 
                    verdadeiramente de cada momento do seu evento
                </p>
            </div>
            
            <div class="author-quote text-center">
                <div class="owl-carousel owl-theme js-owl-quote">
                    <div class="item-quote">
                            <p>O trabalho da equipe de decoração trouxe vida ao meu espaço de maneiras que eu nunca teria imaginado. Eles são verdadeiros artistas, e estou grato por ter escolhido seus serviços.</p>
                        <div class="author-quote-img">
                            <img src="/templete-site/img/others/author-carousel.jpg" alt="">
                        </div>
                    </div>

                    <div class="item-quote">
                            <p>Cada flor, cada arranjo, cada detalhe decorativo era um reflexo perfeito do tema que eu queria para minha festa. A equipe de decoração não mediu esforços para superar minhas expectativas.</p>
                        <div class="author-quote-img">
                            <img src="/templete-site/img/others/author-carousel.jpg" alt="">
                        </div>
                    </div>

                    <div class="item-quote">
                        <p>A equipe de decoração não apenas realizou um trabalho estético impecável, mas também mostrou grande profissionalismo e pontualidade. Estou extremamente satisfeito com o resultado.</p>
                        <div class="author-quote-img">
                            <img src="/templete-site/img/others/author-carousel.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






