<div class="page-right-content">
    <div class="slider slider-home1">
        <div class="js-slider-home1">
            <%= image_tag("site/slides/slide7.png", class: "") %>
            <%= image_tag("site/slides/slide4.png", class: "") %>
            <%= image_tag("site/slides/slide6.png", class: "") %>
            <%= image_tag("site/slides/slide5.png", class: "") %>
        </div>
        <div class="btn-slider">
            <a href="#" class="btn-arrow top-arrow"></a>
            <a href="#" class="btn-arrow bottom-arrow"></a>
        </div>
    </div>
</div>

<!-- content-->
<div class="container">
    <div class="related-collection">
        <div class="colect-ovl">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="https://noivas.sempre-chique.com/" class="hover-images">
                        <%= image_tag("site/services/v2/vestido.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">LOJA DE NOIVAS</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="hover-images">
                        <%= image_tag("site/services/v2/plan_event.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">ORGANIZAÇÃO DE EVENTOS</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="related-collection">
        <div class="colect-ovl">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="hover-images">
                        <%= image_tag("site/services/v2/decoracao1.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">DECORAÇÃO</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="hover-images">
                        <%= image_tag("site/services/v2/buffet.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">BUFFET</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="related-collection">
        <div class="colect-ovl">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="hover-images">
                        <%= image_tag("site/services/v2/planer.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">WEDDING PLANNER</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="hover-images">
                        <%= image_tag("site/services/v2/planer.png", class: "img-reponsive") %>
                    </a>
                    <h3 class="colect-title">ALUGUER DE MATERIAL PARA EVENTOS</h3>
                </div>
            </div>
        </div>
    </div>




</div>
<!-- end content-->